.hyperfund__countdown-container{
  display: flex;
  /* justify-content: center; */
}
.hyperfund__countdown-container{
  display: flex;
}

.hyperfund__countdown-text{
  margin-bottom: 1rem;
}

.hyperfund__countdown-text h2{
  font-family: var(--font-family);
  font-size: 18px;
}

.hyperfund__countdown-container div{
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}

.hyperfund__countdown-container p{
  font-family: var(--font-family);
  margin: 0 auto;
}

.hyperfund__countdown-container h3{
  font-family: var(--font-family);
  padding: 1rem;
  border: 1.5px black solid;
  font-size: 26px;
  border-radius: 5px;
}

@media screen and (max-width: 1179px) {
  .hyperfund__countdown-container h3{
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .hyperfund__countdown-container{
    justify-content: center;
  }

  #secs{
    margin-right: 0;
  }

  .hyperfund__countdown-text{
    display: flex;
    justify-content: center;
  }
}