.hyperfund__ctaSmall{
  border: 1px solid rgb(197, 195, 195);
  border-radius: 10px;
  box-shadow: cornflowerblue 2px 2px 5px 0px;

}

.hyperfund__ctaSmall video{
  width: 400px;
  height: 250px;
  border-radius: 10px 10px 0 0;
}

.hyperfund__ctaSmall-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.hyperfund__ctaSmall-form_submit{
  padding: 2rem 0;
}

.hyperfund__ctaSmall-form div{
  margin-top: 1rem;
}

.hyperfund__ctaSmall-form h5{
  font-family: var(--font-family);
}

.hyperfund__ctaSmall-form input{
  width: 300px;
  padding: 0.7rem;
  border-radius: 3px;
}