.hyperfund__ctaSmall{
  border: 1px solid rgb(197, 195, 195);
  border-radius: 10px;
  /* box-shadow: 4px 4px 3px var(--color-button), -4px -4px 3px var(--color-button); */
}

.hyperfund__ctaSmall video{
  width: 400px;
  height: 250px;
  border-radius: 10px 10px 0 0;
}

.hyperfund__ctaSmall img{
  width: 400px;
  height: 250px;
  border-radius: 10px 10px 0 0;
}

.hyperfund__ctaSmall-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.hyperfund__ctaSmall-form_submit{
  padding: 2rem 0;
}

.hyperfund__ctaSmall-form_submit input{
  background: var(--color-button);
  color: var(--color-buttonFont);
  outline: none;
  border: none;
  cursor: pointer;
}

input[type = 'subit']{
  background: var(--color-button);
}

.hyperfund__ctaSmall-form div{
  margin-top: 1rem;
}

.hyperfund__ctaSmall-form h5{
  font-family: var(--font-family);
}

.hyperfund__ctaSmall-form input{
  width: 300px;
  padding: 0.7rem;
  border-radius: 3px;
  
  outline: none;
}