.hyperfund__speakers-heading{
  /* margin-top: 2rem; */
  margin-bottom: 4rem;
}

.hyperfund__speakers-heading h2{
  font-size: 36px;
}

.hyperfund__speakers-content{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 450px){
  .hyperfund__speakers-content{
    flex-direction: column;
  }

  .hyperfund__speakers-heading{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}