.hyperfund__benefits{
  /* padding-bottom: 5rem; */
  /* border-bottom: steelblue 1px solid; */
}

.hyperfund__benefits-content{
  justify-content: space-between;
  display: flex;
  margin-bottom: 5rem;
  /* flex-wrap: wrap; */
}

.hyperfund__benefits-heading{
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

.hyperfund__benefits-heading h1{
  font-size: 40px;
}

