.hyperfund__schedule-container{
  display: flex;
}

.hyperfund__schedule-container_left{
  flex: 1;
}

.hyperfund__schedule-container_right{
  flex: 1;
}

.hyperfund_schedule-container_left-title{
  margin-bottom: 2rem;
  font-size: 32px;
}

.hyperfund__schedule-container_left-description{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.hyperfund__schedule-container_left-description p{
  color: rgb(95, 95, 95) ;
}

.hyperfund__schedule-container_left-description_short{
  margin-bottom: 1rem;
}

.hyperfund__schedule-container_left-description_long{
  margin-bottom: 2rem;
}

.hyperfund__schedule-container_left-cta{
  display: flex;
}

.hyperfund__schedule-container_left-cta p {
  padding: 1rem 2rem;
  text-transform: uppercase;
  background: var(--color-button);
  color: #fff;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  outline: rgb(131, 165, 228) solid 1px;
}

.hyperfund__schedule-container_left-countdown{
  margin: 3rem 0;
}

.hyperfund_schedule-container_right-schedule_agenda{
  display: flex;
  
  /* justify-content: space-evenly; */
}

.hyperfund_schedule-container_right-schedule_agenda-left{
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-right: 3rem; */
}

.hyperfund_schedule-container_right-schedule_agenda-left_bar{
  height: 50px;
  width: 5px;
  background: var(--color-buttonAccent);
  margin: 1rem 0;
}

.hyperfund_schedule-container_right-schedule_agenda-left_time{
  min-width: 100px;
  display: flex;
  justify-content: center;
  background: var(--color-buttonAccent);
  border-radius: 10px;
}

.hyperfund_schedule-container_right-schedule_agenda-left_time p{
  margin: 0 auto;
  color: #fff;
  font-weight: 500;
}

.hyperfund_schedule-container_right-schedule_agenda-right_description{
  width: 80%;
}

.hyperfund_schedule-container_right-schedule_agenda-right_description p{
  color: rgb(114, 115, 117);
}

.hyperfund_schedule-container_right-schedule_agenda-right_title{
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
  margin-bottom: 0.5rem;
}