*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a{
  color: unset;
  text-decoration: none;
}

.section__margin{
  margin: 2rem 8rem;
}

.section__padding{
  padding: 2rem 8rem;
}

p{
  font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--font-family);
}