.hyperfund__header-container{
  display: flex;
}

.hyperfund__header-container_left{
  flex: 2;
  width: 100%;
}

.hyperfund__header-container_right{
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hyperfund__header-container_left-when h3{
  font-family: var(--font-family);
  display: inline;
  border-bottom: 4px solid var(--color-accent);
}

.hyperfund__header-container_left-when_day{
  margin-bottom: 0.5rem;
}

.hyperfund__header-container_left-when p{
  font-family: var(--font-family);
  display: inline;
  margin-left: 2rem;
}

.hyperfund__header-container_left-title{
  /* width: 50%; */
  margin-top: 2rem;
}
.hyperfund__header-container_left-title h1{
  font-family: var(--font-family);
  font-size: 48px;
}

.hyperfund__header-container_left-description{
  width: 70%;
  margin-top: 1rem;
}

.hyperfund__header-container_left-description p{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
}

.hyperfund__header-container_left-countdown{
  margin-top: 2rem;
}

.hyperfund__header-container_left-btn{
  display: flex;
  margin-top: 2rem;
}

.hyperfund__header-container_left-btn_container h4{
  font-family: var(--font-family);
  padding: 1rem 2rem;
  border: 0.5px rgb(199, 196, 196) solid;
  color: white;
  background: var(--color-buttonAccent);
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1179px) {
  .hyperfund__header-container{
    flex-direction: column;
    justify-content: center;
  }

  /* .hyperfund__header-container_left-countdown{
    display: flex;
    justify-content: center;
  }

  .hyperfund__header-container_left-btn{
    justify-content: center;
  } */

  .hyperfund__header-container_left{
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .hyperfund__header-container_left-countdown{
    display: flex;
    justify-content: center;
  }
}